
  .menu{
    float: right;
    margin: 15px;
  }
   input:focus{
     outline: none;
   }
    
   select:focus{
     outline: none;
   }
   body{
     overflow-x: hidden;
   }
  
   .quickSearch{
    font-size:2rem;
     margin-left: 50px;
      font-weight: bold;
   }
  
   .discover{
    margin-left:30px;
    padding-left:20px;
   }
  
  
   .card{
     display: inline-block;
     position: absolute;
     margin-left: 100px;
   }
  
   .box{
     height: 200px;
    width: 400px;
    background-color: white;
     margin-left: 50px;
     position: relative;
     display: inline-block;
     border: 2px solid green;
     border-radius: 10px;
    padding: 10px;
    box-shadow:5px 5px 5px 10px #d2cdcd;
   }
   .det{
     display: inline-block;
     position: relative;
     bottom: 120px;
     left: 220px;
     width: 50%;
   }
  
   .card-title{
     position: relative;
     left: 150px;
     width: 100px;
   }
  
   .card-text{
     position: relative;
     left: 150px;
     width: 170px;
   }
  
   .gallery-button{
     position: absolute;
     left:70%;
     top: 58%;
     width: 200px;
     height: 35px;
     opacity: 0.6;
     border-radius: 3px;
     background-color: #ffffff;
    }
  
    .heading{
      font-weight: bolder;
      font-size: 24px;
      position: relative;
      left: 10%;
      top: 40px;
    }
  
    .about{
     width: 181px;
     height: 31px;
     font-family: Poppins;
     font-size: 22px;
     font-weight: 600;
     font-stretch: normal;
     font-style: normal;
    }
  
    .head{
     height: 25px;
     font-family: Poppins;
     font-size: 18px;
     font-weight: 600;
     font-stretch: normal;
     font-style: normal;
     line-height: 1.5;
     letter-spacing: normal;
     text-align: left;
     color: black;
    }
  
    .create:hover{
      background-color: white;
      color: red;
      transform: scale(1.1, 1.1);
    }
    .login:hover{
      background-color: white;
      color: red;
      transform: scale(1.1, 1.1);
    }
  
    .value{
    height: 30px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: normal;
    text-align: left;
    }
  
    .img-details{
      margin-top: 40px;
      border-radius: 20px;
    }
  
  
  #order-btn{
    width: 300px;
    height: 40px;
  }

  .close{
    margin-left: 300px;
    margin-top: -20px;
    position: relative;
    bottom: 30px;
    left: 200px;

    
  }

  .menuModal{
    position:relative;
    margin: 20px auto;
    border-radius: 20px;
    background-color: white;
    overflow-x: hidden;
    width: 500px;
    z-index: 100;
    padding: 10px;
    height: 100%;
  }

  .btns{
    margin-left: 10px;
    vertical-align: middle;
  }
    