.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .menu{
    float: right;
    margin: 15px;
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  
  /* adding LogoBar.css */
  .header{
    background-color: rgb(249, 5, 5);
     height: 80px; 
     width: 100%;
      padding: 15px 101px 13px 102px;
    }
  .logo{
    color: red;
     height: 47px; 
     width: 32px;
      font-family: poppins; 
      font-size: 33px; 
      font-weight: 600; 
      font-stretch: normal; 
      font-style: normal;
       line-height: 1.52; 
       letter-spacing:
        normal; text-align: left;
        z-index: 3;
        position: relative;
        left: 15px;
      }
  .login{
    position: relative;
    left: 1000px;
    background-color: white;
      width: 80px; 
      height: 40px; 
      margin: 12px 26px 11px 0;
       font-family: poppins; 
       font-size: 20px; 
       font-weight: 500; 
       font-stretch: normal; 
       font-style: normal; 
       line-height: 1.56; 
       letter-spacing: normal; 
       text-align: left;
        color:red;
      border-color: white;
        bottom: 60px;
        border: none;
        border-radius: 20px;
        padding-left: 15px;
      }
      
      
  
  .create{
    background-color: white;
     color: red; 
     border: none;
     border-color: white;
     position: relative;
     left: 1020px;
     bottom: 60px;
     font-size: 20px;
     border-radius: 20px;
     height: 40px;
     
    }
  
    .logo-background{
    background-color: white;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    z-index: 2;
    }
  
    /* Wallpaper.css */
    
  .search-heading{position: absolute;
     top: 32%; 
     left: 27%; 
     color: white;
      font-weight: bold;
    }
  
  .location-heading{
    position: absolute;
     left: 500px; 
     top: 230px;
      color: white;
       font-weight: 700; 
       font-size: 2rem;
      }
  .discover{
    padding-top: 4px;
     font-size: 1.2rem;
      padding-bottom: 10px;
    }
  .search-bar{
    position: absolute;
    display: inline-block;
     left: 25%; 
     top: 40%;
     width:600px;
     height: 20px;
     border-radius: 20px;
    }
  
  
    .locationDropdown{
      display: inline-block;
      height: 40px;
      width: 400px;
      border-radius: 20px;
      padding-left: 10px;
      font-weight: bold;
    }
  
  .type-location{
    display: inline-block;
    width: 180px;
     height: 35px;
      border-radius: 20px;
       border-color: white;
        border: thin;
         font-weight: bold;
        }
  .type-restaurant{
    position: relative;
    left:80%;
    bottom: 40px;
    display: inline-block;
    height: 40px;
     width: 350px;
      border-radius: 20px;
       border-color: white;
        border: thick;
         font-style: normal;
         padding: 20px;
         font-weight: bold;
        }
  
        #notebooks {
          position: absolute;
          left: 28%;
          width: 350px;
          border-radius: 5px;
          max-height: 450px;
  
      }
  
  
      #notebooks {
        float: left;
    }
    
    #notebooks ul {
        margin: 0;
        padding: 0;
        margin-top: 40px;
        list-style: none;
        position: relative;
        left: 285px;
        bottom: 110px;
        width: 97%;
        border: none;
    }
    
    #notebooks ul li {
        
        padding: 5px 10px;
        background-color: #ffffff;
        border-top: none;
        text-align: left;
        cursor: pointer;
       
      
    }
    
    #notebooks ul li:hover {
        background-color: #ccc;
    }
  
  .select{
    height: 35px; 
    border-radius: 20px;
     margin: 20px;
    }
  
   input:focus{
     outline: none;
   }
    
   select:focus{
     outline: none;
   }
   body{
     overflow-x: hidden;
   }
  
   .quickSearch{
    font-size:2rem;
     margin-left: 50px;
      font-weight: bold;
   }
  
   .discover{
    margin-left:30px;
    padding-left:20px;
   }
  
  
   .card{
     display: inline-block;
     position: absolute;
     margin-left: 100px;
   }
  
   .box{
     height: 200px;
    width: 400px;
    background-color: white;
     margin-left: 50px;
     position: relative;
     display: inline-block;
     border: 2px solid green;
     border-radius: 10px;
    padding: 10px;
    box-shadow:5px 5px 5px 10px #d2cdcd;
   }
   .det{
     display: inline-block;
     position: relative;
     bottom: 120px;
     left: 220px;
     width: 50%;
   }
  
   .card-title{
     position: relative;
     left: 150px;
     width: 100px;
   }
   
   .card-text{
     position: relative;
     left: 150px;
     width: 170px;
   }
  
   .gallery-button{
     position: absolute;
     left:70%;
     top: 58%;
     width: 200px;
     height: 35px;
     opacity: 0.6;
     border-radius: 3px;
     background-color: #ffffff;
    }
  
    .heading{
      font-weight: bolder;
      font-size: 24px;
      position: relative;
      left: 10%;
      top: 40px;
    }
  
    .about{
     width: 181px;
     height: 31px;
     font-family: Poppins;
     font-size: 22px;
     font-weight: 600;
     font-stretch: normal;
     font-style: normal;
    }
  
    .head{
     height: 25px;
     font-family: Poppins;
     font-size: 18px;
     font-weight: 600;
     font-stretch: normal;
     font-style: normal;
     line-height: 1.5;
     letter-spacing: normal;
     text-align: left;
     color: black;
    }
  
    .create:hover{
      background-color: white;
      color: red;
      transform: scale(1.1, 1.1);
    }
    .login:hover{
      background-color: white;
      color: red;
      transform: scale(1.1, 1.1);
    }
  
    .value{
    height: 30px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: normal;
    text-align: left;
    }
  
    .img-details{
      margin-top: 40px;
    }
  
  
  
    /* filter page CSS */
    .web-1{
      
      width: 1366px;
       height: 973px;
        padding: 0  0 88px;
         background-color: whitesmoke;
      }
  
  .header-1{
      background-color: red;
       height: 80px;
        width: 1366px; 
        padding: 15px 101px 13px 102px;
      }
     
      .logo-background-1{
          width: 72px;
          height: 72px;
          background-color: white;
          border-radius: 50%;
      }
  
  .logo-1{
      color: red;
       height: 47px;
        width: 32px;
         font-family: poppins;
          font-size: 43px;
           font-weight: 600;
            font-stretch: normal; 
            font-style: normal;
             line-height: 1.52;
              letter-spacing: normal;
               text-align: left;
               position: relative;
               left: 18px;
              }
  
              
  .login-1{
      border: none;
      background-color: black; 
      color: red; 
      border-color:white ;
      height: 35px;
      width: 90px;
      font-size: 20px;
      border-radius: 16px;
      font-weight: bolder;
  
              }
  .create-1{
      border: none;
      background-color: white; 
      color: red; 
      border-color:white ;
      height: 35px;
      width: 90px;
      font-size: 20px;
      border-radius: 16px;
      font-weight: bold;
      margin-left: 20px;
  }
  
  input[type="checkbox"]{
      width: 20px;
      height: 20px;
      margin: 5px;
  }
  input[type="radio"]{
      width: 20px;
      height: 20px;
      margin: 5px;
  }
  #login-btn{
    border-radius: 20px;
    border: hidden;
    background-color: red;
    color: white;
  }
  #create-btn{
    border-radius: 20px;
    border: hidden;
    background-color: red;
    color: white;
    font-size: larger;
    position: relative;
    left: 60px;
    height: 40px;
    width: 50%;
  }
  #login-heading{
    position: relative;
    bottom: 20px;
  }
  #create-heading{
    position: relative;
    bottom: 15px;
  }
  
  .createForm{
  width: 400px;
  }
  
  
  
  .heading{
      font-family: poppins;
       font-size: 36px; 
       font-weight: bold; 
       font-stretch: normal; 
       font-style: normal; 
       letter-spacing: normal; 
        
       color: #192f60; 
       margin-bottom: 10px; 
       
       position: relative; 
       
       top: 10px;
      }
  .filter-options{
      background-color: #ffffff; 
      min-width: 250px; 
      height: 550px; 
      padding-left: 30px; 
      margin-bottom: 10px; 
      box-shadow: 0 3px 6px 0 rgba(red, green, blue, alpha);
  }
  .filter-heading{
      font-family: poppins; 
      font-size: 28px; 
      font-weight: 600; 
      font-stretch: normal; 
      font-style: normal; 
      line-height: 1.5; 
      letter-spacing: normal; 
      text-align: left; 
      padding-top: 20px;
  }
  .select-location{
      height: 20px; 
      font-family: poppins; 
      font-size: 20px; 
      font-weight: bold; 
      font-stretch: normal; 
      font-style: normal; 
      line-height: 1.5; 
      letter-spacing: normal; 
      text-align: left; 
      color: #192f60; 
      margin-top: 30px;
      
  }
  .select{width: 200px; 
    height: 30px; 
    border-radius: 5px; 
    border: solid 1px #8c96ab; 
    margin-top: 15px; 
    font-size: 15px; 
    font-weight: bold; 
    outline: none; 
  }
  
  .cuisine{
    font-family: poppins; 
    font-size: 20px; 
    font-weight: bold; 
    font-stretch: normal; 
    font-style: normal; 
    line-height: 1.5; 
    letter-spacing: normal; 
    text-align: left; 
    color: #192f60; 
    margin-top: 12px;
  }
  
  .cuisine-items{
    font-family: poppins; 
    font-size: 20pxpx; 
    font-weight: normal; 
    font-stretch: normal; 
    font-style: normal; 
    position: relative; 
    bottom: 5px; 
    letter-spacing: normal; 
    text-align: left; 
    color: black;
  } 
  
  .small{
    display: inline-block; 
    background-color: white; 
    height: 700px; 
    vertical-align: top; 
    width: 28%; 
    position: relative; 
    top: 20px; 
    border-radius: 20px; 
  }
  
  .item{
    width: 100%; 
    height: 260px; 
    border-radius: 20px; 
    box-shadow: 0 3px 6px 0 rgba(red, green, blue, alpha); 
    background-color: #ffffff; 
    margin-bottom: 15px;
  }
  a{
    text-decoration:none;
    background-color: white;
  }
  
  .img {width: 150px; 
    height: 150px; 
    border-radius: 20px; 
    margin-left: 5%; 
    padding-top:15px ;
  }
  .img-radius{
    border-radius: 15px;
    width: 120%;
    margin-left: -10px;
  }
  #login-heading{
    position: relative;
    bottom: 15px;
  }
  .close{
    font-size: large;
    left: 90px;
    font-weight: bolder;
    bottom: 8px;
    position: relative;
    background-color: white;
    color: black;
    border: hidden;
  }
  input[type=email]{
  position: relative;
  left: 5px;
  height: 37px;
  }
  #login-btn{
    width: 130px;
    border: hidden;
    height: 40px;
    font-weight: normal;
    position: relative;
    left: 30px;
    background-color: red;
    color: white;
    font-size: 1.2rem;
    border-radius: 20px;
  }
  input[type=password]{
    position: relative;
    left: 5px;
    height: 37px;
  }
  ::placeholder{
    color: black;
  }
  
  .small-item{
    display: inline-block; 
    width: 28%; 
    vertical-align: top;
  }
  
  .vertical{
    vertical-align: top;
  }
  
  .big-item{
    display: inline-block;
    width: 28%; 
    padding-top: 20px; 
    position: relative; 
    left: 240px;
  }
  
  .rest-name{
    font-family: poppins; 
    font-size: 30px; 
    font-weight: 600px; 
    font-stretch: normal; 
    font-style: normal;
    line-height: 1.53; 
    letter-spacing: normal; 
    color: #192f60;
  }
  
  .rest-location{
    font-family:poppins; 
    font-size: 16px; 
    font-weight: 500px; 
    font-stretch: normal; 
    font-style: normal; 
    line-height: 1.88; 
    letter-spacing: normal; 
    color: #192f60;
  }
  
  .rest-address{
    font-family: poppins; 
    font-size: 16px; 
    font-weight: normal; 
    font-style: normal; 
    line-height: 1.88; 
    letter-spacing: normal; 
    text-align: left; 
    color: #636f88;
  }
  .margin-left{
    margin-left: 7%;
  }
  .big{
    display:inline-block; 
    width: 68%; 
    height: 260px; 
    border-radius: 20px; 
    background-color: white; 
    position: relative; 
    left: 60px; 
    top: 20px;
  }
  
  .pagination{
    display: inline-block; 
    margin-left: 575px; 
    margin-top: 730px; 
    border-radius: .25rem;
  }
  
  .pagination a{
    color: black; 
    float: left; 
    padding: 8px 16px; 
    text-decoration: 
    none; border-radius: 15px; 
    margin: 2px; border: solid 1px gray;
  }
  
  a:hover{
      background-color:initial;
      color: rgb(17, 2, 47);
  }
  
  button:hover{
      background-color: red;
      color: white;
  }
  
  #order-btn{
  
    left: 1200px;
    top: 30px;
    position: relative;
    border-radius: 20px;
    border: hidden;
    background-color: black;
    color: white;
    padding: 5px;
    height: 40px;
  }