.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
    /* Wallpaper.css */
    
  .img {width: 150px; 
    height: 150px; 
    border-radius: 20px; 
    margin-left: 5%; 
    padding-top:15px ;
  }
  .img-radius{
    border-radius: 15px;
    width: 120%;
    margin-left: -10px;
  }
  