.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
    /* Wallpaper.css */
    
  .search-heading{position: absolute;
     top: 32%; 
     left: 27%; 
     color: white;
      font-weight: bold;
    }
  
  .location-heading{
    position: absolute;
     left: 500px; 
     top: 230px;
      color: white;
       font-weight: 700; 
       font-size: 2rem;
      }
  .discover{
    padding-top: 4px;
     font-size: 1.2rem;
      padding-bottom: 10px;
    }
  .search-bar{
    position: absolute;
    display: inline-block;
     left: 25%; 
     top: 40%;
     width:600px;
     height: 20px;
     border-radius: 20px;
    }
  
  
    .locationDropdown{
      display: inline-block;
      height: 40px;
      width: 400px;
      border-radius: 20px;
      padding-left: 10px;
      font-weight: bold;
    }
  
  .type-location{
    display: inline-block;
    width: 180px;
     height: 35px;
      border-radius: 20px;
       border-color: white;
        border: thin;
         font-weight: bold;
        }
  .type-restaurant{
    position: relative;
    left:80%;
    bottom: 40px;
    display: inline-block;
    height: 40px;
     width: 350px;
      border-radius: 20px;
       border-color: white;
        border: thick;
         font-style: normal;
         padding: 20px;
         font-weight: bold;
        }
  
        #notebooks {
          position: absolute;
          left: 28%;
          width: 350px;
          border-radius: 5px;
          max-height: 450px;
  
      }
  
  
      #notebooks {
        float: left;
    }
    
    #notebooks ul {
        margin: 0;
        padding: 0;
        margin-top: 40px;
        list-style: none;
        position: relative;
        left: 285px;
        bottom: 110px;
        width: 97%;
        border: none;
    }
    
    #notebooks ul li {
        
        padding: 5px 10px;
        background-color: #ffffff;
        border-top: none;
        text-align: left;
        cursor: pointer;
       
      
    }
    
    #notebooks ul li:hover {
        background-color: #ccc;
    }
  
  .select{
    height: 35px; 
    border-radius: 20px;
     margin: 20px;
    }
  
   input:focus{
     outline: none;
   }
    
   select:focus{
     outline: none;
   }
   body{
     overflow-x: hidden;
   }
  
   .quickSearch{
    font-size:2rem;
     margin-left: 50px;
      font-weight: bold;
   }
  
   .discover{
    margin-left:30px;
    padding-left:20px;
   }
  
  
   .card{
     display: inline-block;
     position: absolute;
     margin-left: 100px;
   }
  
   .box{
     height: 200px;
    width: 400px;
    background-color: white;
     margin-left: 50px;
     position: relative;
     display: inline-block;
     border: 2px solid green;
     border-radius: 10px;
    padding: 10px;
    box-shadow:5px 5px 5px 10px #d2cdcd;
   }
   .det{
     display: inline-block;
     position: relative;
     bottom: 120px;
     left: 220px;
     width: 50%;
   }
  
   .card-title{
     position: relative;
     left: 150px;
     width: 100px;
   }
   
   .card-text{
     position: relative;
     left: 150px;
     width: 170px;
   }
  
   .gallery-button{
     position: absolute;
     left:70%;
     top: 58%;
     width: 200px;
     height: 35px;
     opacity: 0.6;
     border-radius: 3px;
     background-color: #ffffff;
    }
  
    .heading{
      font-weight: bolder;
      font-size: 24px;
      position: relative;
      left: 10%;
      top: 40px;
    }
  
    .about{
     width: 181px;
     height: 31px;
     font-family: Poppins;
     font-size: 22px;
     font-weight: 600;
     font-stretch: normal;
     font-style: normal;
    }
  
    .head{
     height: 25px;
     font-family: Poppins;
     font-size: 18px;
     font-weight: 600;
     font-stretch: normal;
     font-style: normal;
     line-height: 1.5;
     letter-spacing: normal;
     text-align: left;
     color: black;
    }
  
    .create:hover{
      background-color: white;
      color: red;
      transform: scale(1.1, 1.1);
    }
    .login:hover{
      background-color: white;
      color: red;
      transform: scale(1.1, 1.1);
    }
  
    .value{
    height: 30px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: normal;
    text-align: left;
    }
  
    .img-details{
      margin-top: 40px;
    }
  
  
  
    